In [5]:
%%HTML
<style type="text/css">
.CodeMirror {width: 100vw}
.container {width: 90% !important}
.rendered_html {font-size:0.8em}
.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {font-size: 0.9em}
table td, table th {
border: 1px  black solid !important;
color: black !important;
background-color: white;}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
</style>

## Continuous Assessment I<img src="https://img.icons8.com/ios/test-results/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">

* **CA1 – 20%** must be submitted this **Friday (18/10/2019) before 5pm**
    * The descriptor was updated recently
    * Can be found **[here](https://moodle.cct.ie/mod/resource/view.php?id=49275)**
* **Job Title** clarification
* A **relationship** can have **attributes**
    * These **must be converted into relations** (i.e. tables) for the **Relational Data Model (Logical)**.
* <font color="red">**Crow's Foot**</font> should be used for the **Relational Data Model (Logical)**.
* Your **Logical Data Model** should include **primary** & **foreign** keys, **data types**, i.e. should be very close to a **Physical Data Model**

## Logical/Physical Modelling
### Crow's Foot Notation:
<center><img src="https://res.cloudinary.com/practicaldev/image/fetch/s--aMHSzLpu--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/gjzq00ltrbmxqjx7i1wp.PNG"></center>

More info on **Crow's Foot notation** can be found **[here](https://www.vertabelo.com/blog/crow-s-foot-notation/)**

## Chen vs Crow's Foot
<center><img src="http://db.prof.ninja/class5/crow.png" width="80%"></center>

## Example: Conceptual Model
* In **Sonic the Hedgehog 1** game, **Zones** can have many **Acts**, these levels may have **Special Stages**, may have **Bosses**, but there is only one **Boss** per **Zone**
<center><img src="https://res.cloudinary.com/practicaldev/image/fetch/s--hs5nyD4Q--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/avcvinesuv6u90b7h77z.PNG"></center>

* This example can be found **[here](https://dev.to/helenanders26/entity-relationship-diagrams-explained-by-sonic-the-hedgehog-1m68)**

## Example: Logical Model

<center><img src="https://res.cloudinary.com/practicaldev/image/fetch/s--oeA_2wFB--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/fix9x96g2zptbm6g10f9.PNG"></center>

## Example: Physical Model
<center><img src="https://res.cloudinary.com/practicaldev/image/fetch/s--nwjipFnl--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/qif8s6as8pp2hlt0kmj6.PNG"></center>

## Exam Question – January Exam 2013 <img src="https://img.icons8.com/exam/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
 * **Design an ERD according to the provided specifications:**
     * The database must store **book**, **author**, **publisher** and **warehouse** information.
     * For every **book** you must capture the **title**, **isbn**, **year** and **price information**. The isbn value is unique for a book.
     * For every **author** you must store an **id**, **name**, **address** and the **URL** of their homepage.
     * Each **author** can write ***many* books**, and each **book** can have ***many* authors**, for example.
     * For every **publisher** you must store an **id**, **name**, **address**, **phone number** and an **URL** of their website.
     * **Books** are stored at ***several* warehouses**, each of which has a **code**, **address** and **phone number**.
     * A **book** has only **one publisher**.
     * The **warehouse** stocks ***many* different books**. A book may be stocked at multiple warehouses.
     * The database records the **number of copies** of a book stocked at various warehouses.

## Exam Question – January Exam 2013 <img src="https://img.icons8.com/exam/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
<center><img src="diagrams/solution1.png" width="80%"></center>

## Exam Question – August Exam 2014<img src="https://img.icons8.com/exam/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
 * **Design an ERD according to the provided specifications:**
     * **United Direct Artists (UDA)** is an insurance broker that specialise in insuring paintings for galleries. You are required to design a database for this company.
     * The database must store **painters**, **paintings** and **galleries** information.
     * Painters have a **unique number**, **name** and **phone number**
     * Paintings have **unique number**, **title** and **price**
     * Galleries have **unique number**, **owner**, **phone number**, **commission rate** and **address**
     * A painting is painted by a particular artist, and that **painting** is exhibited in **a particular gallery**.
     * A **gallery** can exhibit ***many* paintings**, but each **painting** can be exhibited in **only one gallery**.
     * Similarly, a **painting** is painted by **a single painter**, but each **painter** can paint ***many* paintings**.

## Exam Question – August Exam 2014 <img src="https://img.icons8.com/exam/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
<center><img src="diagrams/solution2.png" width="80%"></center>

# Introduction to SQL <img src="https://img.icons8.com/ios-filled/sql/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">

* Press `Space` to navigate through the slides
* Use `Shift+Space` to go back

# Quick Recap<img src="https://img.icons8.com/ios/connection-sync/80 0" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* **ERD Notations**
* **Components**
    * **Entity**
    * **Attribute**
    * **Relationship**
        * Cardinality
        * Degree
        * Participation constraints
        * Optionality
* **Chen Notation**
    * Limitations, Tips, Drawing, Naming, Refinment

# Structured Query Language<img src="https://img.icons8.com/ios-filled/sql/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* **Structured Query Language (SQL)** is a domain-specific language used in programming and designed for managing data held in a relational database management system (RDBMS)

* Ideally, database language should allow user to:
	* **create** the database and relation structures
	* perform **insertion**, **modification**, **deletion** of data from relations
	* perform simple and complex **queries**

* Must perform these tasks with minimal user effort and command structure/syntax must be **easy to learn**.

* It should be **portable** (use commands that allows one to move from one DBMS to another easily), have an easy to learn command structure and syntax

# Structured Query Language<img src="https://img.icons8.com/ios-filled/sql/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* **SQL** is a language with 2 major components:
	* A **DDL** for defining database structure.
	* A **DML** for retrieving and updating data.
* It is non-procedural – you specify what information you require, rather than how to get it
* SQL is free-format which means that parts of statements do not have to be typed at particular
locations on the screen
* Consists of standard English words:
```SQL
SELECT staffNo, lName, salary FROM Staff WHERE salary > 10000;
```
* An ISO standard now exists for SQL, making it both the formal and de facto standard language
for relational databases

# SQL Syntax<img src="https://img.icons8.com/small/sql/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* SQL statement consists of reserved words and user-defined words.
*  **Reserved words** are a fixed part of SQL and must be spelt exactly as required and cannot be split across lines.
    * Certain keywords, such as `SELECT`, `DELETE` are reserved in RDMBS
*  **User-defined** words are made up by user and represent names of various database objects such as relations, columns, views. Most components of an SQL statement are case insensitive, except for literal character data.
* <font color='red'>**Many dialects of SQL require the use of a statement terminator to mark the end of each SQL statement (usually the semicolon `;` is used)**</font>

# SQL Syntax<img src="https://img.icons8.com/small/sql/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* SQL is more readable with indentation and lineation:
    * Each clause should begin on a new line.
    * Start of a clause should line up with start of other clauses.
    * If clause has several parts, should each appear on a separate line and be indented
under start of clause. E.g
```SQL
SELECT *
FROM Branch
WHERE city = 'London';
```

# SQL Syntax<img src="https://img.icons8.com/small/sql/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* Literals are constants used in SQL statements.
* All **non-numeric literals** must be enclosed in single quotes (e.g. `'London'`).
* All **numeric literals** must NOT be enclosed in quotes (e.g. `650.00`).

# SQL Syntax<img src="https://img.icons8.com/small/sql/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
For numeric data types (e.g. INT, DOUBLE), we do not need to put quotes around the
value:

```SQL
SELECT * FROM houses WHERE price > 300000;
```
* For other data types (e.g. VARCHAR, DATE, TEXT), it is required to use single quotes
to quote the value:

```SQL
SELECT * FROM houses WHERE town = 'Dublin'
SELECT * FROM people WHERE dob < '1980-01-01'
```
* Some RDBMSs (including MySQL) will also allow you to use double quotes but this is
not recommended as it is not part of the ANSI SQL standard and is not guaranteed
to work with all systems.

## Select Statement<img src="https://img.icons8.com/select-all/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
```SQL
SELECT [DISTINCT | ALL]
    {* | [fieldExpression [AS newName]}
FROM		 tableName [alias]
[WHERE	   condition]
[GROUP BY	columnList]
[HAVING	  condition]
[ORDER BY	columnList]
```

## Select Statement<img src="https://img.icons8.com/select-all/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
```SQL
SELECT
```
is the SQL keyword that lets the database know that you want to retrieve data.
```SQL
[DISTINCT | ALL]
```
are optional keywords that can be used to fine tune the results returned from the SQL SELECT statement. If nothing is specified then ALL is assumed as the default.
```SQL
{* | [fieldExpression [AS newName]}
```
at least one part must be specified, `*` selected all the fields from the specified table name, `fieldExpression` performs some computations on the specified fields such as adding numbers or putting together two string fields into one.

## Select Statement<img src="https://img.icons8.com/select-all/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
```SQL
FROM tableName
```
is mandatory and must contain at least one table, multiple tables must be separated using commas or joined using the `JOIN` keyword.
```SQL
WHERE
```
condition is optional, it can be used to specify criteria in the result set returned from the query.
```SQL
GROUP BY
```
is used to put together records that have the same field values.
```SQL
HAVING
```
condition is used to specify criteria when working using the `GROUP BY` keyword.
```SQL
ORDER BY
```
is used to specify the sort order of the result set.

## Basic Query Structure<img src="https://img.icons8.com/metro/questions/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">

* A typical SQL query has the form:
 * **select** $A_{1}$, $A_{2}$, ..., $A_{n}$
 * **from** $R_{1}$ ,$R_{2}$ ,...,$R_{m}$
 * **where**  $P$
* $A_{1}$ represents an **attribute**
* $R_{1}$ represents a **relation**
* $P$ is a predicate (**condition**)
* **<font color='red'>The result of an SQL query is a relation (table).</font>**

## Example 1: All Columns, All Rows <img src="https://img.icons8.com/small/sql/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* List full details of all staff.
```SQL
SELECT staffNo, fName, lName, address, position, sex, DOB, salary, branchNo FROM Staff;
```
* Can use `*` as an abbreviation for ‘all columns’: (quick way/shortcut)
```SQL
SELECT * FROM Staff;
```

## Example 1: All Columns, All Rows <img src="https://img.icons8.com/small/sql/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
|staffNo|fName|lName|position|sex|DOB|salary|branchNo|
|---|---|---|---|---|---|---|---|
|SL21|John|White|Manager|M|1-Oct-45|30000.00|B005|
|SG37|Ann|Beech|Assistant|F|10-Nov-601|2000.00|B003|
|SG14|David|Ford|Supervisor|M|24-Mar-58|18000.00|B003|
|SA9|Mary|Howe|Assistant|F|19-Feb-70|9000.00|B007|
|SG5|Susan|Brand|Manager|F|3-Jun-40|24000.00|B003|
|SL41|Julie|Lee|Assistant|F|13-Jun-65|9000.00|B005|

## Example 2: Specific Columns, All Rows <img src="https://img.icons8.com/small/sql/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* Produce a list of salaries for all staff, showing only staff number, first and last names, and salary.

```SQL
SELECT staffNo, fName, lName, salary FROM Staff;
```

|staffNo|fName|lName|salary|
|---|---|---|---|
|SL21|John|White|30000.00|
|SG37|Ann|Beech|12000.00|
|SG14|David|Ford|18000.00|
|SA9|Mary|Howe|9000.00|
|SG5|Susan|Brand|24000.00|
|SL41|Julie|Lee|9000.00|

## Example 3: Use of Distinct <img src="https://img.icons8.com/small/sql/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* List the property numbers of all properties that have been viewed.

```SQL
SELECT propertyNo FROM Viewing;
```

|propertyNo|
|---|
|PA14|
|PG4|
|PG4|
|PA14|
|PG36|

## Example 3: Use of Distinct <img src="https://img.icons8.com/small/sql/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* Use DISTINCT to **eliminate duplicates**:

```SQL
SELECT DISTINCT propertyNo FROM Viewing;
```

|propertyNo|
|---|
|PA14|
|PG4|
|PG36|

## Example 4: Calculated Fields <img src="https://img.icons8.com/small/sql/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* Produce list of monthly salaries for all staff, showing staff number, first/last name, and salary.
```SQL
SELECT staffNo, fName, lName, salary
FROM Staff;
```

* To name column, use `AS` clause:
```SQL
SELECT staffNo, fName, lName, salary/12 AS monthlySalary
FROM Staff;
```

|staffNo|fName|lName|monthlySalary|
|---|---|---|---|
|SL21|John|White|2500.00|
|SG37|Ann|Beech|1000.00|
|SG14|David|Ford|1500.00|
|SA9|Mary|Howe|750.00|
|SG5|Susan|Brand|2000.00|
|SL41|Julie|Lee|750.00|

## Five Basic Search Conditions<img src="https://img.icons8.com/search/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* **Comparison**
    * Compare the value of one expression to the value of another expression.
* **Range**
    * Test whether the value of an expression falls within a specified range of values.
* **Set membership**
    * Test whether the value of an expression equals one of a set of values.
* **Pattern match**
    * Test whether a string matches a specified pattern.
* **Null**
    * Test whether a column has a null (unknown) value.

## Comparison Search Condition <img src="https://img.icons8.com/search/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* List all staff with a salary greater than 10,000.

```SQL
SELECT staffNo, fName, lName, position, salary FROM Staff
WHERE salary > 10000;
```
|staffNo|fName|lName|salary|
|---|---|---|---|
|SL21|John|White|30000.00|
|SG37|Ann|Beech|12000.00|
|SG14|David|Ford|18000.00|
|SG5|Susan|Brand|24000.00|

## Comparison Search Condition <img src="https://img.icons8.com/search/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* In **SQL** the following simple comparison operators are available:
    * `=` equals
    * `<>` is not equal to (ISO standard)
    * `!=` is not equal to (allowed in some dialects)
    * `<` is less than
    * `<=` is less than or equal to
    * `>` is greater than
    * `>=` is greater than or equal to

## Comparison Search Condition <img src="https://img.icons8.com/search/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* List addresses of all branch offices in London or Glasgow.

```SQL
SELECT *
FROM Branch
WHERE city = 'London' OR city = 'Glasgow';
```

|branchNo|street|city|postcode|
|---|---|---|---|
|B005|22 Deer Rd|London|SW1 4EH|
|B003|163 Main St|Glasgow|G11 9QX|
|B002|56 Clover Dr|London|NW10 6EU|

## Range Search Condition <img src="https://img.icons8.com/search/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* List all staff with a salary between 20,000 and 30,000.

```SQL
SELECT staffNo, fName, lName, position, salary FROM Staff
WHERE salary BETWEEN 20000 AND 30000;
```
* `BETWEEN` test includes the endpoints of range.

|staffNo|fName|lName|position|salary|
|---|---|---|---|---|
|SL21|John|White|Manager|30000.00|
|SG5|Susan|Brand|Manager|24000.00|

## Range Search Condition <img src="https://img.icons8.com/search/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* Also a negated version `NOT BETWEEN`.
* `BETWEEN` does not add much to SQL’s expressive power.
* You could also write:
```SQL
SELECT staffNo, fName, lName, position, salary FROM Staff
WHERE salary >=20000 AND salary <= 30000;
```
* Useful, though, for a range of values.
* `BETWEEN` test includes the endpoints of range.

## Set Membership
* List all managers and supervisors:

```SQL
SELECT staffNo, fName, lName, position
FROM Staff
WHERE position IN ('Manager', 'Supervisor');
```
* There is a negated version as well – `NOT IN`<br/><br/>

|staffNo|fName|lName|position|
|---|---|---|---|
|SL21|John|White|Manager|
|SG14|David|Ford|Supervisor|
|SG5|Susan|Brand|Manager|

## Set Membership <img src="https://img.icons8.com/search/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* Could have expressed this as:

```SQL
SELECT staffNo, fName, lName, position
FROM Staff
WHERE position='Manager' OR position='Supervisor';
```

|staffNo|fName|lName|position|
|---|---|---|---|
|SL21|John|White|Manager|
|SG14|David|Ford|Supervisor|
|SG5|Susan|Brand|Manager|

## Pattern Matching <img src="https://img.icons8.com/search/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* Find all owners with the string 'Glasgow' in their address.

```SQL
SELECT ownerNo, fName, lName, address, telNo
FROM PrivateOwner
WHERE address LIKE ‘%Glasgow%’;
```

|ownerNo|fName|lName|address|telNo|
|---|---|---|---|---|
|CO87|Carol|Farrel|6 Achray St, Glasgow G32 9DX|0141-357-7419|
|CO40|Tina|Murphy|63 Well St, Glasgow G42|0141-943-1728|
|CO93|Tony|Shaw|12 Park Pl, Glasgow G4 0QR|0141-225-7025|

## Pattern Matching <img src="https://img.icons8.com/search/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
* SQL has two special pattern matching symbols:
    * `%` – sequence of zero or more characters;
    * `_` (underscore) – any single character.
    * `LIKE '%Glasgow%'` – means a sequence of characters of any length containing 'Glasgow'.<br/><br/>
    
|ownerNo|fName|lName|address|telNo|
|---|---|---|---|---|
|CO87|Carol|Farrel|6 Achray St, Glasgow G32 9DX|0141-357-7419|
|CO40|Tina|Murphy|63 Well St, Glasgow G42|0141-943-1728|
|CO93|Tony|Shaw|12 Park Pl, Glasgow G4 0QR|0141-225-7025|

## Null <img src="https://img.icons8.com/search/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">
*  List details of all viewings on property PG4 where a comment has not been supplied.
* There are 2 viewings for property PG4, one with and one without a comment.
* Have to test for null explicitly using special keyword `IS NULL`:

```SQL
SELECT clientNo, viewDate FROM Viewing
WHERE propertyNo = ‘PG4’ AND comment IS NULL;
```

# Summary<img src="https://img.icons8.com/ios/summary-list/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">

* SQL is not case sensitive so commands can be upper or lower case
*  Convention, however, has it that we write SQL operators in upper case and the operands in lower case, e.g.
*  ```SQL
SELECT name FROM employee;
```
*  Each SQL command ends in a semicolon

# Tutorial<img src="https://img.icons8.com/e-learning/80" style="display:inline-block;vertical-align:middle;padding:0 0 10px 10px">

**Practice SQL with SQLite and Jupyter Notebook [(GitHub)](https://github.com/royalosyin/Practice-SQL-with-SQLite-and-Jupyter-Notebook)**
* [Intoduction](tutorial/ex00-Introduction.ipynb)
* [Quick Start](tutorial/ex01-Quick%20Start.ipynb)
* [Quary Table Information](tutorial/ex02-Query%20Table%20Information.ipynb)
* [Retrieving Data with SELECT](tutorial/ex03-Retrieving%20Data%20with%20SELECT.ipynb)
* [Constrain the Number of Rows Returned by a SELECT Query](tutorial/ex04-Constrain%20the%20Number%20of%20Rows%20Returned%20by%20a%20SELECT%20Query.ipynb)
* [Filtering a Query with WHERE](tutorial/ex05-Filtering%20a%spo20Query%20with%20WHERE.ipynb)
* [Doing Math Across Table Columns](tutorial/ex06-Doing%20Math%20Across%20Table%20Columns.ipynb)
* [Aggregating data with GROUP BY and ORDER BY](tutorial/ex07-Aggregating%20data%20with%20GROUP%20BY%20and%20ORDER%20BY.ipynb)
* [Dealing with NULL Values](tutorial/ex11-Dealing%20with%20NULL%20Values.ipynb)